.btn{
    border-radius: 2px;
    background: #eeb33e;
    border: 1px solid #eeb33e;
    padding: 8px;
    color: #fffefe;
    cursor: pointer;
    width: fit-content!important;
    padding: 0px 20px!important;
}

.btn-green{
    border-radius: 2px;
    background: #509b4c;
    border: 1px solid #509b4c;
    padding: 8px;
    color: #fffefe;
    cursor: pointer;
    width: fit-content!important;
    padding: 0px 20px!important;
    animation: pulse 2s infinite;
}


input.store_price {
    max-width: 99px;
    position: relative;
    padding: 0px;
    padding-left: 6px;
    font-size: 11px;
    padding: 0px 6px;
}

.disable-connected-product {
    background: white;
    padding: 11px 9px;
    border: 1px solid #cdc8c8;
    border-radius: 5px;
    position: absolute;
    top: 32px;
    font-size: 12px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: \\;
}

td.sync.column-sync {
    position: relative;
}

.disable-connected-product .item {
    display: flex;
    gap: 4px;
    border: 1px solid #ddd3d3;
    padding: 0px 2px;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
}


.storeeo-user-wrapper {
    display: flex;
    gap: 4px;
    align-items: center;
}

.storeeo-user-wrapper img {
    width: 31px;
    border-radius: 20px;
}
/* Add your CSS styles for grid layout here */
.grid-container {
    display: grid;
    grid-gap: 20px;
    direction: ltr;
    flex-direction: column;
}

.grid-item {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #Fff;
}


/* Add your CSS styles for grid layout here */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

td img {
    width: 45px;
    height: 55px!important;
    object-fit: cover;
}



#product_tag {
    width: 56px!important;
}



.watching_btn {
	height: 20px;
	width: 20px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
	border-radius: 2px;
	background: #eeb33e;
	border: 1px solid #eeb33e;
	padding: 3px;
	color: #151212;
	cursor: pointer;
	font-size: 10px;
	color: #080808;
}

.success {
    color: green;
    font-weight: 400;
}

td.post_content.column-post_content {
    display: none;
}

th.manage-column.column-post_content {
    display: none;
}

.popover {
    width: 300px;
    z-index: 9999;
    position: fixed;
    background: #fff;
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
    top: 35vh;
    border-radius: 10px;
    padding: 20px;
}


.popover-header {
    display: flex;
    justify-content: space-between;
}

.popover-close {
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}
.popover-2{
    width: 70%;
    height: 70vh;
    top: 10vh;
}


.popover-2 iframe {
    height: calc(100vh - 368px);
}
.popover .title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 20px;
}

.popover .box {
    display: flex;
    margin-top: 20px;
    border: 1px solid #f7dcdc;
    justify-content: start;
    align-items: center;
    gap: 20px;
    font-size: 13px;
    padding: 4px 14px;
    border-radius: 10px;
}

.popover-back {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background: #1d191980;
    top: 0;
}

td.flex {
    display: flex;
    align-items: start;
}

.flex img {
    width: 27px;
    object-fit: contain;
    height: fit-content!important;
    min-width: 23px;
}


.link {
    color: #78b0cb!important;
    text-decoration: underline;
    cursor: pointer;
}


.storeeo_price {
    font-weight: bold;
    color: #c5922d!important;
}

td.profit {
    background: #19b31926;
    color: #000;
    text-align: center;
}
._custom_product_storeeo_price_field label {
    background: #eeb33e;
    width: 75px;
    padding: 7px;
    border-radius: 6px;
    color: #fff;
    font-weight: 700;
}

#slider {
    width: 80%;
    max-width: 210px;
    margin-top: 9px;
}

.ui-slider-range {
    background: #eeb33e; /* Background color for the bar */
}

.filters {
    display: flex;
    height: 16px;
    gap: 13px;
}

.ui-state-active {
    background: #6e67678f!important;
    border-color: #6e67678f!important;
}
#paginationControls {
    display: flex;
    gap: 10px;
    direction: ltr;
}

input#itemsPerPage {
    width: 49px;
}

#paginationControls label {
    line-height: 2;
}

td.flex.order-products {
    gap: 8px;
}

.flex-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    background: #1d2327;
    direction: ltr;
}
.flex {
    display: flex;
}

.buttons .item {
    color: #fff;
}

.flex.glex-charts {
    gap: 20px;
}

.flex .grid-item {
    width: 100%;
}

.buttons {
    display: flex;
    gap: 18px;
    margin-top: 17px;
    margin-left: 38px;
}

#myChart {
    width: 100%;
    height: 100px;
}

#totalSales , #yourProfit{
    width: 100%;
    height: 200px;
}

.table-order th , .table-order td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
}

.width-50 {
    width: 50%!important;
}

.gap20{
    gap: 20px;
}

.box {
    width: 35%;
    background: #fff;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.box .label {
    text-align: left;
    font-size: 14px;
}

.box .item-value {
    font-size: 29px;
    margin-top: 26px;
    font-weight: 600;
}

.buttons .item.active {
    border-bottom: 3px solid #eeb33e;
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}