.btn{
    border-radius: 2px;
    background: #eeb33e;
    border: 1px solid #eeb33e;
    padding: 8px;
    color: #fffefe;
    cursor: pointer;
    width: fit-content!important;
    padding: 0px 20px!important;
}

.btn-green{
    border-radius: 2px;
    background: #509b4c;
    border: 1px solid #509b4c;
    padding: 8px;
    color: #fffefe;
    cursor: pointer;
    width: fit-content!important;
    padding: 0px 20px!important;
    animation: pulse 2s infinite;
}


.disable-connected-product {
    background: white;
    padding: 11px 9px;
    border: 1px solid #cdc8c8;
    border-radius: 5px;
    position: absolute;
    top: 32px;
    font-size: 12px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: \\;
}

td.sync.column-sync {
    position: relative;
}

.disable-connected-product .item {
    display: flex;
    gap: 4px;
    border: 1px solid #ddd3d3;
    padding: 0px 2px;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
}


.storeeo-user-wrapper {
    display: flex;
    gap: 4px;
    align-items: center;
}

.storeeo-user-wrapper img {
    width: 31px;
    border-radius: 20px;
}
/* Add your CSS styles for grid layout here */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.grid-item {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


/* Add your CSS styles for grid layout here */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

td img {
    width: 45px;
    height: 55px!important;
    object-fit: cover;
}


#storeeo_watching {
    width: 100px;
}
#product_tag {
    width: 56px!important;
}

.column-storeeo_watching {
    margin-top: 10px!important;
    display: block;
    width: 100px;
}

.watching_btn {
	margin: 10px;
	height: 20px;
	width: 20px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
	border-radius: 2px;
	background: #eeb33e;
	border: 1px solid #eeb33e;
	padding: 8px;
	color: #151212;
	font-weight: bold;
	cursor: pointer;
}

.success {
    color: green;
    font-weight: 400;
}

td.post_content.column-post_content {
    display: none;
}

th.manage-column.column-post_content {
    display: none;
}

.popover {
    width: 300px;
    z-index: 9999;
    position: fixed;
    background: #fff;
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
    top: 35vh;
    border-radius: 10px;
    padding: 20px;
}

.popover .title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 20px;
}

.popover .box {
    display: flex;
    margin-top: 20px;
    border: 1px solid #f7dcdc;
    justify-content: start;
    align-items: center;
    gap: 20px;
    font-size: 13px;
    padding: 4px 14px;
    border-radius: 10px;
}

.popover-back {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background: #1d191980;
    top: 0;
}

td.flex {
    display: flex;
    align-items: start;
}

.flex img {
    width: 27px;
    object-fit: contain;
    height: fit-content!important;
    min-width: 23px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}